
<!DOCTYPE html>
<html>
<head>
    <title>Recharge History</title>
</head>

<body>

    <h1>Recharge History</h1>

    {% if transactions %}

    <table border="1">

        <tr>
            <th>Recharge Number</th>
            <th>Operator</th>
            <th>Amount</th>
        </tr>

        {% for transaction in transactions %}

        <tr>
            <td>{{ transaction[0] }}</td>
            <td>{{ transaction[1] }}</td>
            <td>₹{{ transaction[2] }}</td>
        </tr>

        {% endfor %}

    </table>

    {% else %}

        <p>No recharge transactions found.</p>

    {% endif %}

    <br>

    <a href="/recharge">Pay another mobile recharge</a>

    <br><br>
    <a href="/">Go to Home</a>
    <br><br>
    <a href="/logout">Logout</a>

</body>
</html>

