<!DOCTYPE html>
<html>
<head>
    <title>Bill payment Transaction History</title>
</head>

<body>

    <h1>Bill payment Transaction History</h1>
    {% if transactions %}
        <table border="1">
            <tr>
                <th>Bill_Number</th>
                <th>Bill_Type</th>
                <th>Amount</th>
            </tr>
            {% for transaction in transactions%}
            <tr>
                <td>{{transaction[0]}}</td>
                <td>{{transaction[1]}}</td>
                <td>{{transaction[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>No transactions found</p>
    {% endif %}
    <br>
    <a href="/bills">Pay another bill</a>
    <br><br>
    <a href="/">Go to home</a>
    <a href="/logout">Logout</a>

</body>
</html>